/* src/styles/common.scss */
@use "./constants.scss" as *;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: #333;
}

.container {
  // max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.button-primary {
  background-color: $primary-color;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: $border-radius-base;
  cursor: pointer;
}

.button-primary:hover {
  background-color: ($primary-color, 10%);
}

.card {
  background-color: #fff;
  padding: $card-padding;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;
}
